@import url('https://fonts.googleapis.com/css2?family=Prata&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&family=Rouge+Script&display=swap');

:root {
    --fondo-oscuro: rgb(10, 15, 13);
    --fondo-suave: rgb(34, 46, 38);
    --gris-metal: rgb(74, 79, 83);
    --acento-bronce: rgb(156, 124, 86);
    --texto-suave: rgb(205, 189, 171);
    --titulos-luz: rgb(235, 235, 235);}

body {
    margin: 0; 
    background-color: var(--fondo-suave);
    color: var(--texto-suave);
}

/*ENCABEZADO*/
.header {
    background-color: var(--fondo-oscuro);
    text-align: center;
    padding: 10px 0;
}

.header_title {
    font-family: "Roboto Flex", sans-serif;
    font-size: 32px;
    letter-spacing: 3px;
    margin: 10px 0 5px 0;
    color: var(--titulos-luz);
}

.header_subtitle {
    font-family: "Prata", serif;
    font-size: 20px;
    letter-spacing: 3px;
    margin: 0 0 30px 0;
}

.nav_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav_item {
    display: inline-block;
    margin: 0 15px; 
}

.nav_link {
    text-decoration: none;
    color: var(--texto-suave);
    font-family: "Roboto Flex", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.nav_link:hover {
    color: var(--titulos-luz);
    text-shadow: 0 0 8px var(--titulos-luz);
}

/*SECCCIÓN: INICIO*/
#inicio {
    justify-items: center;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}

.bienvenidos {
    box-shadow: 0 0 10px 10px var(--fondo-oscuro);
    font-size: 40px;
    margin-top: 100px;
}

.text_cargo {
    font-size: 20px;
    color: var(--texto-suave);
    padding-top: 30px;
}

.text_perfil {
    font-size: 20px;
    color: var(--texto-suave);
}

.frase {
    font-size: 20px;
    color: var(--fondo-oscuro);
    padding-top: 30px;
}

.img_avatar {
    width: 200px;
    object-fit: cover; 
    border: 10px double var(--texto-suave);
    border-radius: 15%;
    animation: aparecer 4s ease-out;
    margin-top: 20px;
}

@keyframes aparecer {
    from { opacity: 0; }
    to { opacity: 1; }
  }

.img_avatar:hover {
    box-shadow: 0 0 10px 10px var(--fondo-oscuro);
}

/*SECCIÓN: SOBRE MÍ*/
#sobremi {
    justify-items: center;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}

.title_sobremi{
    box-shadow: 0 0 10px 10px var(--fondo-oscuro);
    font-size: 40px;
    margin-top: 100px;
}

/*SECCIÓN: HABILIDADES*/
#habilidades {
    justify-items: center;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}

.title_habilidades{
    box-shadow: 0 0 10px 10px var(--fondo-oscuro);
    font-size: 40px;
    margin-top: 100px;
}

/*SECCIÓN: PROYECTOS*/
#proyectos {
    justify-items: center;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}

.title_proyectos{
    box-shadow: 0 0 10px 10px var(--fondo-oscuro);
    font-size: 40px;
    margin-top: 100px;
}

/*SECCIÓN: CONTACTO*/
#contacto {
    justify-items: center;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}

.title_contacto{
    box-shadow: 0 0 10px 10px var(--fondo-oscuro);
    font-size: 40px;
    margin-top: 100px;
}